<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>us.bandj.SimpleGlossaryKiller.Interface.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>us.bandj.SimpleGlossaryKiller.Interface.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddWords</servlet-name>
		<servlet-class>us.bandj.SimpleGlossaryKiller.Interface.AddWords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddWords</servlet-name>
		<url-pattern>/AddWords</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetWords</servlet-name>
		<servlet-class>us.bandj.SimpleGlossaryKiller.Interface.GetWords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetWords</servlet-name>
		<url-pattern>/GetWords</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeWords</servlet-name>
		<servlet-class>us.bandj.SimpleGlossaryKiller.Interface.ChangeWords</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeWords</servlet-name>
		<url-pattern>/ChangeWords</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
